@model List<ProjectTrackingSystem.Domain.Entities.Task>

<h1>Tasks</h1>
<a href="/Tasks/Create" class="btn btn-primary">Create New Task</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Project</th>
            <th>Assigned User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
                <td>@task.DueDate.ToShortDateString()</td>
                <td>@(task.Project != null ? task.Project.Name : "No Project")</td>
                <td>@(task.User != null ? $"{task.User.FirstName} {task.User.LastName}" : "No User Assigned")</td>

                
                <td>
                    <a href="/Tasks/Details/@task.Id" class="btn btn-info btn-sm">Details</a>
                    <a href="/Tasks/Edit/@task.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/Tasks/Delete/@task.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

